@font-face {
  font-family: 'MyriadProSE';
  src: url(./fonts/MyriadProSE/MyriadProSE.eot);
  src: url(./fonts/MyriadProSE/MyriadProSE.woff) format("woff"), url(./fonts/MyriadProSE/MyriadProSE.ttf) format("truetype"), url(./fonts/MyriadProSE/MyriadProSE.svg) format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MyriadPro';
  src: url(./fonts/Myriad-Pro/Myriad-Pro.eot);
  src: url(./fonts/Myriad-Pro/Myriad-Pro.woff) format("woff"), url(./fonts/Myriad-Pro/Myriad-Pro.ttf) format("truetype"), url(./fonts/Myriad-Pro/Myriad-Pro.svg) format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'MyriadProBold';
  src: url(./fonts/MyriadPro-Bold/MyriadPro-Bold.eot);
  src: url(./fonts/MyriadPro-Bold/MyriadPro-Bold.woff) format("woff"), url(./fonts/MyriadPro-Bold/MyriadPro-Bold.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

body, p {
  margin: 0;
  padding: 0; }

main {
  display: flex;
  flex-wrap: wrap; }

.column-left {
  width: 44.5%; }

.column-right {
  flex-basis: 55.5%; }

.wrapper {
  margin: 137px auto 0 auto;
  width: 81.6%; }

.main-info {
  width: 101%; }

.circle-outer {
  border: 1px solid #3d6cb0;
  border-radius: 50%;
  width: 357px;
  height: 358px;
  margin: auto;
  padding: 21px;
  box-sizing: border-box; }

.circle-inner {
  border: 157px solid #3d6cb0;
  border-radius: 50%;
  width: 0px;
  height: 0px; }

.name-info {
  margin: 39px 0 0 5px; }

.name,
.surname,
.jobTitle {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: -1px; }

.name {
  font: 300 81px 'MyriadProSE', Times, serif;
  padding: 0 3px 0 0; }

.surname {
  font: 700 94px 'MyriadProBold', Times, serif;
  line-height: 67px;
  padding: 0px 5px 0 0; }

.jobTitle {
  font: 700  38.7px 'MyriadProBold', Times, serif;
  letter-spacing: -1.5px;
  margin: 22px 0 0 0;
  padding: 0 4px 0 0px; }

.line {
  width: 80%;
  height: 8px;
  background-color: #3d6cb0;
  position: absolute;
  top: 54px;
  left: 79px;
  z-index: -1; }

.icon {
  background-size: 111px 111px;
  position: absolute;
  top: 5px;
  left: 16px;
  width: 111px;
  height: 111px; }

.title {
  color: #3d6cb0;
  font: bolder 64px 'MyriadProBold', Times, serif;
  margin: 0;
  width: 252px;
  padding: 23px 0 35px 133px;
  letter-spacing: -1px;
  background-color: white; }

.profile-info {
  width: 100%;
  margin: 113px auto 0 auto;
  padding: 0 20px 0 9px;
  position: relative; }
  .profile-info p {
    font-family: 'MyriadPro', Times, serif;
    font-size: 1.5em;
    color: #000000;
    padding: 0 32px 0 5px;
    line-height: 28.5px;
    width: 93%; }
    .profile-info p b {
      font-weight: 700;
      letter-spacing: 0.3px;
      line-height: 27px; }
  .profile-info .icon {
    background: white url(./fonts/pi/pi.svg) no-repeat;
    background-size: 115px 111px;
    width: 115px; }

.contact-info {
  width: 100%;
  margin: 66px auto 0 auto;
  padding: 0 20px 0 9px;
  position: relative; }
  .contact-info .line {
    left: 89px; }
  .contact-info .title {
    width: 282px; }
  .contact-info .icon {
    background: white url(./fonts/phone_icon/phone_icon.svg) no-repeat;
    background-size: 111px 111px;
    width: 111px;
    height: 111px; }
  .contact-info table {
    margin: 28px 0 0 0; }
  .contact-info td {
    font: 400 32px 'MyriadPro', Times, serif;
    padding: 0 61px 40px 2px;
    line-height: 41.5px; }
  .contact-info td:first-child {
    color: #3d6cb0;
    text-transform: uppercase;
    font: 700 32px 'MyriadProBold', Times, serif;
    padding: 0 61px 40px 4px;
    letter-spacing: -1px; }

.skills {
  margin: 26px 0 0 0;
  padding: 0 20px;
  position: relative; }
  .skills .line {
    left: 99px; }
  .skills .title {
    width: 212px;
    padding: 20px 0 35px 120px;
    text-align: left; }
  .skills .icon {
    background: white url(./fonts/skills_icon/skills_icon.svg) no-repeat;
    background-size: 111px 111px;
    width: 111px;
    height: 111px; }
  .skills p {
    font: 400 40px 'MyriadPro', Times, serif;
    text-align: center;
    padding: 25.5px 21px 0 0; }
  .skills p:first-of-type {
    font: 400 40px 'MyriadPro', Times, serif;
    text-align: center;
    padding: 18px 17px 0 0; }
  .skills ul {
    list-style: none;
    margin: 14px 51px 0 0px;
    text-align: center; }
  .skills ul li {
    display: inline-block;
    width: 27px;
    height: 27px;
    background: #3d6cb0;
    border-radius: 50%;
    margin: 0 12px 0 0; }
  .skills .creative li:nth-child(n+10),
  .skills .teamwork li:nth-child(12),
  .skills .innovate li:nth-child(n+7),
  .skills .communication li:nth-child(12) {
    background: #e6e6e6; }
  .skills ul:last-of-type {
    margin: 11px 51px 0 0; }

.education-info {
  position: relative;
  margin: 113px auto 0 auto; }
  .education-info .title {
    width: 355px;
    padding: 20px 0 0 147px;
    letter-spacing: -1.2px; }
  .education-info .icon {
    background: white url(./fonts/education_icon/education_icon.svg) no-repeat;
    background-size: 115px 111px;
    width: 115px;
    height: 111px;
    left: 4px; }
  .education-info .line {
    width: 90%;
    left: 33px; }

.education-content {
  font: 400 24px 'MyriadProSE', Times, serif;
  letter-spacing: -1px;
  margin: 0 0 0 3px; }

.blackpoint {
  position: absolute;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background: #000000;
  top: 11px;
  left: -63px; }

.degree-date {
  font: 400 40px 'MyriadProSE', Times, serif;
  letter-spacing: -0.5px;
  margin: 0; }

.university {
  text-transform: uppercase;
  font: 400 40px 'MyriadPro', Times, serif;
  margin: 1px 0 10px 0;
  letter-spacing: 0px; }

.education-block {
  position: relative;
  padding: 0 0 0 0;
  margin: 20px 0 0 0;
  width: 885px; }

.education {
  list-style: none;
  font-size: 82px;
  margin: 57px 0 0 86px;
  padding: 0px; }

.degree {
  font: 700 40px 'MyriadProBold', Times, serif;
  color: #3d6cb0;
  text-transform: uppercase;
  letter-spacing: -0.9px;
  margin: 0 15px 0 0; }

.experience-info {
  margin: 66px 0 0 13px;
  position: relative; }
  .experience-info .icon {
    background: white url(./fonts/experience_icon/experience_icon.svg) no-repeat;
    background-size: 118px 115px;
    width: 118px;
    height: 115px;
    top: 4px;
    left: -8px; }
  .experience-info .line {
    width: 90%;
    left: 33px;
    top: 57px; }
  .experience-info .title {
    width: 357px;
    padding: 24px 0 36px 133px;
    letter-spacing: -1.2px; }

.experience {
  list-style: none;
  font-size: 82px;
  margin: 44px 0 0 73px;
  padding: 0px; }

.company {
  font: 700 40px 'MyriadProBold', Times, serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: -0.9px;
  margin: 0 15px 0 0; }

.software {
  margin: 69px 0 0 14px;
  position: relative; }
  .software .icon {
    background: white url(./fonts/software_icon/software_icon.svg) no-repeat;
    background-size: 115px 111px;
    width: 115px;
    height: 111px;
    top: 3px;
    left: -9px; }
  .software .line {
    width: 90%;
    left: 31px;
    top: 57px; }
  .software .title {
    width: 354px;
    padding: 24px 0 51px 133px;
    letter-spacing: -1.2px; }

.software-skill {
  padding: 1px 0 0 2px;
  width: 41%;
  margin: 0 107px 30px 0; }

.software-skill:nth-child(even) {
  margin: 0 0 30px 0; }

.soft-wrapper {
  flex-wrap: wrap;
  display: flex; }

.softname {
  text-transform: uppercase;
  font: 400 40px 'MyriadPro', Times, serif;
  margin: 1px 0 10px 0;
  letter-spacing: 0px; }

.greyline {
  position: relative;
  max-width: 428px;
  height: 34px;
  background: #e6e6e6;
  margin: 20px 0 0 0; }

.blueline {
  position: absolute;
  top: 0;
  left: 0;
  background: #3d6cb0;
  height: 34px; }

._915 {
  width: 91.5%; }

._83 {
  width: 83%; }

._71 {
  width: 71%; }

._57 {
  width: 57%; }

._62 {
  width: 62%; }

._91 {
  width: 91%; }

